<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>Person List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Person List</h1>
<a href="addPerson">Add Person</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Address</th>
        </tr>
        <tr th:each ="person : ${persons}">
            <td th:utext="${person.firstName}">...</td>
            <td th:utext="${person.lastName}">...</td>
            <td th:utext="${person.age}">...</td>
            <td th:utext="${person.address}">...</td>
        </tr>
    </table>
</div>
<a th:href="@{/choosePerson?action=} + 'update'">Update person</a>
</br>
<a th:href="@{/choosePerson?action=} + 'delete'">Delete person</a>
</br>
<a th:href="@{/info}">Info</a>
</body>
</html>